
form{
    margin: auto;
    display: block; 
    text-align: left; 
    width: 35%;
}

#divFormEditer{
	display: none;
}

#msgEditeSucess{
	display: none;
}

.card{
   margin-left: 30px;
   margin-top: 20px;
}