
#formCreateNewUser
{	
	width: 50%;
	justify-content: center;
	margin: auto;
}

#dviFormCreateUser { 
	display: none;
	width: 50%;
}

#divFormLogin { 
	display: none;
	width: 50%;
}

.icone{
   font-size: 200px;
}

/*	
display: flex;
justify-content: center;
display: none;
width: 30%;
*/