
#formCreateNewUser
{	
	width: 50%;
	justify-content: center;
	margin: auto;
}

#dviFormCreateUser { 
	display: none;
	width: 70%;
}

#divFormLogin { 
	display: none;
	width: 30%;
	justify-content: center;
}

.icone{
   font-size: 200px;
}

.card{
   margin-left: 30px;
   margin-top: 20px;
}

#addPanier{
	display: none;
}

/*	
display: flex;
justify-content: center;
*/

/* ============== GESTION VIDEO ==============*/
#preview{
/* position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;*/
}

/*#divVideo { 
 margin-left: 10px;
 margin-top:10px;	
}*/

video{
width: 100%;
}