
#divFormFilm { 
	display: flex;
	justify-content: center;
	display: none;
	width: 30%;
}

#divMsg { 
	display: none;
}

#emsg { 
	/*centralize le paragraphe*/
	text-align: center;
	color:red;
	font-size:20px;
}